h2
{
    position: absolute;  
}
#postIt
{
    position: absolute;   
    width: 200px;
    top: 30px; left: 200px;
    background-color: yellow;
    visibility: hidden;
}

.button
{
    position: absolute;   
    top: 60px; left: 5px;
}

.survol
{
    position: absolute;   
    top: 90px; left: 5px;
}
