body{
    margin: auto ;
    width: 300px;
        height: 100px;
    text-align: center;
    border: #3c5a86 1px solid; 
  }

  .span{
      margin: auto;
      width: 300px;
      /*border: 1px solid rgba(0,0,0,0.5);*/
      padding:5px 0;
      text-align: center;
      font-size: 1.5em;
      font-family: digital;
      margin-bottom: 10px;


  }
h2 { 
    position: relative; 
    top : 1;
    margin-left: 1em;
    display: inline; 
    background-color: white; 
}

.pause { 
    visibility: hidden;
}

.stop { 
    visibility: hidden;
}


 

